{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Cart</h1>
    <h2>Order</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Unit price</th>
                <th>Brand</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.product.brand.title }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <tbody>
            <tr>
                <th>Subtotal excluding taxes</th>
                <td>{{ order.subtotalExclTax }}</td>
            </tr>
        </tbody>
    </table>

    {% if promotion is not null %}
        <h2>Promotion</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Reduction</th>
                    <th>Free delivery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ promotion.reduction }}</td>
                    <td>{{ promotion.freeDelivery ? "yes" : "No" }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    <h2>Shipping fees HT</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>Total shipping fees</th>
            <td>{{ shippingFees }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Total HT</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>Total HT</th>
            <td>{{ order.subtotalExclTax + shippingFees - promotion.reduction }}</td>
        </tr>
        </tbody>
    </table>

    <h2>VAT</h2>

    <table class="table">
        <tbody>
        {% for vat in vats %}
            <tr>
                <th>{{ vat.brand }}</th>
                <td>{{ vat.rate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Total TTC</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>Total TTC</th>
            <td>{{ totalInclTax }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
